body {
  height: 100%;
}
body {
  color: #333;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.custom-font {
    color: #333;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.icon {
    color: #fff;
    font-size: 8rem;
}


/* Animation */
svg * {
				fill: none;
				stroke: currentColor;
			}
.bloc-head     { color: #333; padding: 30px; }
#hi-there {
				width: 100%;
				stroke-width: 5;
			}